body {
    font-size: 13px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a {
    cursor: pointer;
}

.btn, .btn-group > .btn, .btn-group > .dropdown-menu {
    font-size: 13px;
    padding: 2px 8px;
}

.navbar-inner {
    min-height: 30px;
}

.navbar .nav > li > a {
    padding: 5px 15px;
}

.navbar-fixed-top i {
    opacity: 0.2;
    margin-right: 10px;
}

.navbar-fixed-top .active i {
    opacity: 0.6;
}

.nav-pills.nav-stacked > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 3px;
    margin: 0;
}

[class^="icon-"], [class*=" icon-"] {
    margin-right: 2px;
}

/* .nav-pills.nav-stacked > li > a { */
/*     width: 14px; */
/*     height: 14px; */
/*     display: inline-block; */
/*     margin-right: 4px; */
/* } */

.nav-pills > .active > a {
    background: #ccc;
    color: #fff;
}

/* .focused .nav-pills{ */
/*     box-shadow: inset 0 0 4px #000AFF; */
/*     -webkit-box-shadow: inset 0 0 4px #000AFF; */
/*     -moz-box-shadow: inset 0 0 4px #000AFF; */
/* } */

.focused .nav-pills > .active > a, .nav-pills > .active > a:hover {
    background: #08C;
}


#container {
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

#container .panes {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container .panes .pane {
    overflow: auto;
}

#container .panes .pane {
    overflow: auto;
}

#container .panes .pane > div {
    height: 100%;
    position: relative;
}

#container .panes .pane .nav-pills {
    position: absolute;
    overflow-y: auto;
    top: 0;
    bottom: 37px;
    width: 100%;
    margin: 0;
}

#container .panes .pane .pane_actions {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 26px;
    bottom: 0;
    background: #E5E5E5;
    border-top: 1px solid #bbb;
    padding: 5px 0;
    margin: 0;
    text-align: center;
}

#container .panes .pane .pane_actions .info {
    padding: 10px 5px 5px;
    font-weight: bold;
    color: #666;
    line-height: 20px;
}


#container .panes .pane .pane_actions .btn-group {
    display: inline;
    margin-left: 5px;
}

#container .panes .pane .pane_actions .btn-group .btn {
    margin: 0;
}

#container .panes .pane .pane_actions .btn-group.switch .btn.active:first-child {
    background: #5AD;
    color: white;
    text-shadow: 0 1px 0 #333;
}

#container .panes .pane .pane_actions .btn {
    margin-left: 5px;
}

#container .panes .pane .class_side .nav-pills {
    font-weight: bold;
    background: #ffd;
}


#container .panes.horizontal > .pane {
    height: 50%;
    min-height: 50px;
}

#container .panes.vertical > .pane {
    width: 50%;
    display: inline;
    float: left;
    height: 100%;
}

#container .splitter {
    z-index: 10;
    background: #E6E6E6;
    border: 1px solid #bbb;
}

#container .splitter.vertical {
    width: 4px;
    height: 100%;
    float: left;
    cursor: e-resize;
    background-image: url('/images/vsplitter.png');
    background-repeat: no-repeat;
    background-position: center;
}

#container .splitter.horizontal {
    height: 4px;
    cursor: s-resize;
    background-image: url('/images/hsplitter.png');
    background-repeat: no-repeat;
    background-position: center;
}


.key_helper {
    z-index: 20;
    position: fixed;
    bottom: 0px;
    background: #ddd;
    width: 100%;
    border-top: 1px solid #AAA;
    font-size: 11px;
    height: 22px;
}

.key_helper .command {
    padding: 0 10px;
}

.key_helper .label {
    padding: 0 4px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    font-family: monospace;
}

.key_helper .action {
    padding: 0 5px;
    color: #666;
}

.key_helper .selected {
    background: #0C8;
    height: 30px;
    padding: 4px;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 #666;
}