body {
    font-size: 11px;
    font-family: "Lucida Grande", helvetica, arial, sans;
    background: #ddd;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

a {
    cursor: pointer;
}

i {
    opacity: 0.8;
}

[class^="icon-"], [class*=" icon-"] {
    margin-top: 0;
}

.CodeMirror {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: #fff;
}

.CodeMirror-hints {
    border-radius: 0;
    font-family: Menlo, Monaco, "Lucida Console", Courier, monospace;
    font-size: 11px;
    line-height: 1em;
    padding: 0;
    max-height: 120px;
}

.CodeMirror-hint {
    border-radius: 0;
    padding: 0 10px;
}

.CodeMirror pre {
    font-family: Menlo, Monaco, "Lucida Console", Courier, monospace;
    line-height: 16px;
}

.state {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 16px;
    height: 16px;
}

.state.modified {
    background: transparent url('/images/modified.png') 50% 50% no-repeat;
}

.btn, .btn-group > .btn, .btn-group > .dropdown-menu {
    padding: 2px 8px;
}

.navbar .navbar-fixed-top {
    font-size: 11px;
    line-height: 16px;
}

.navbar-fixed-top .navbar-inner {
    min-height: 22px;
    background-color: #dbdbdb;
    border-bottom: 1px solid #666;
    background-image: linear-gradient(top, #dbdbdb, #bababa);
    background-image: -webkit-linear-gradient(top, #dbdbdb, #bababa);
    background-image: -moz-linear-gradient(top, #dbdbdb, #bababa);
    background-image: -owebkit-linear-gradient(top, #dbdbdb, #bababa);
    box-shadow: 0 0 0;
}


.navbar .nav > li {
    line-height: 16px;
}


.navbar .nav > li > a {
    padding: 3px 8px;
    font-size: 11px;
    color: #111;
    text-shadow: 0 1px 0 #ddd;
}

.nav > li > a:hover {
    background: transparent;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    background-color: #bababa;
    background-image: linear-gradient(left, #777 0%, #bababa 2px, transparent 2px), linear-gradient(right, #777 0%, #bababa 2px, transparent 2px);
    background-image: -webkit-linear-gradient(left, #777 0%, #bababa 2px, transparent 2px), -webkit-linear-gradient(right, #777 0%, #bababa 2px, transparent 2px);
    background-image: -moz-linear-gradient(left, #777 0%, #bababa 2px, transparent 2px), -moz-linear-gradient(right, #777 0%, #bababa 2px, transparent 2px);
    background-image: -o-linear-gradient(left, #777 0%, #bababa 2px, transparent 2px), -o-linear-gradient(right, #777 0%, #bababa 2px, transparent 2px);
    text-shadow: #ddd 0px 1px 0px; 
    color: #222;
}

.navbar-fixed-top i {
    opacity: 0.4;
    margin-right: 5px;
    height: 12px;
    margin-top: 0;
}

.navbar-fixed-top .active i {
    opacity: 0.6;
}

.nav-pills.nav-stacked > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 2px 2px 1px 4px;
    margin: 0;
    font-size: 11px;
    font-family: Menlo, Monaco, "Lucida Console", Courier, monospace;
    color: #111;
    white-space: nowrap;
}

[class^="icon-"], [class*=" icon-"] {
    margin-right: 2px;
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
    margin: 3px;
}

.nav-pills > .active > a {
    background-color: #ddd;
    background-image: linear-gradient(top, #ddd, #bababa);
    background-image: -moz-linear-gradient(top, #ddd, #bababa);
    background-image: -webkit-linear-gradient(top, #ddd, #bababa);
    background-image: -o-linear-gradient(top, #ddd, #bababa);
    color: #fff;
    text-shadow: 0 0 0;
}

.focused .nav-pills {
    background-color: #e3e7eb;
}

.focused .nav-pills > .active > a, 
.nav-pills > .active > a:hover,
.dropdown-menu li > a:hover, 
.dropdown-menu li > a:focus, 
.dropdown-submenu:hover > a,
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover,
.CodeMirror-hint-active {
    background: #b1bdd5;
    background-image: linear-gradient(top, #b1bdd5, #8999b8);
    background-image: -webkit-linear-gradient(top, #b1bdd5, #8999b8);
    background-image: -moz-linear-gradient(top, #b1bdd5, #8999b8);
    background-image: -owebkit-linear-gradient(top, #b1bdd5, #8999b8);
    color: #fff;
    text-shadow: 0 0 0;
}


.tool_container {
    position: absolute;
    top: 23px;
    bottom: 0;
    left: 0;
    right: 0;
}

.tool_container .panes {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tool_container .panes .pane {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f1f1f1;
}

.tool_container .multi_pane {
    position: relative;
    height: 100%;
    width: auto;
    overflow-x: auto;
}

.tool_container .multi_pane .pane {
    height: 100%;
    max-width: 300px;
    border-right: 1px solid #888;
}

.tool_container .panes .pane > div {
    height: 100%;
    position: relative;
}

.tool_container .panes.horizontal > .pane {
    min-height: 50px;
}

.tool_container .panes.horizontal > .pane {
    top: 50%;
}

.tool_container .panes.horizontal > .pane:first-child {
    top: 0;
    bottom: 50%;
}

.tool_container .panes.vertical > .pane {
    left: 50%;
}

.tool_container .panes.vertical > .pane:first-child {
    left: 0;
    right: 50%;
}


.tool_container .splitter {
    position: absolute;
    border-width: 0;
    z-index: 10;
}

.tool_container .splitter.vertical {
    width: 5px;
    left: 50%;
    margin-left: -1px;
    border-left: 1px solid #888;
    height: 100%;
    float: left;
    cursor: ew-resize;
}

.tool_container .splitter.horizontal {
    top: 50%;
    height: 5px;
    margin-top: -1px;
    width: 100%;
    border-top: 1px solid #888;
    cursor: ns-resize;
}



.tool_container .panes .pane .nav-pills {
    position: absolute;
    overflow-y: auto;
    top: 17px;
    bottom: 17px;
    width: 100%;
    margin: 0;
}

.tool_container .list-label {
    font-size: 11px;
    border-radius: 0;
    border-bottom: 1px solid #666;
    background-color: #e9eaf5;
    background-image: -webkit-linear-gradient(top, #e9eaf5, #bfc2d2);
    color: #222;
    font-weight: bold;
    text-shadow: 0 0 0;
    padding-left: 4px;
    line-height: 16px;
    text-shadow: 0 1px 0 #eee;
}

.tool_container .list-label .btn-group.cog {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.tool_container .list-label .btn-group.open .dropdown-toggle {
    box-shadow: 0 0 0;
    border: 0;
}

.tool_container .list-label .btn-group > .dropdown-menu {
    padding: 0;
    font-size: 11px;
}

.tool_container .list-label .btn-group.cog i {
    margin-top: 1px;
}

.tool_container .list-label .cog .btn.dropdown-toggle {
    padding: 0;
    margin: 0;
    line-height: 12px;
    border: 0;
    background: transparent;
}


.tool_container .panes .pane .pane_actions {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 16px;
    bottom: 0;
    background: #dadada;
    border-top: 1px solid #666;
    padding: 0;
    margin: 0;
    background-image: -webkit-linear-gradient(top, #dadada, #bdbdbd);
}

.tool_container .panes .pane .pane_actions .info {
    padding: 10px 5px 5px;
    font-weight: bold;
    color: #666;
    line-height: 20px;
}

.tool_container .panes .pane .pane_actions .btn-group {
    display: inline;
    margin-left: 5px;
}

.tool_container .panes .pane .pane_actions .btn {
    background: transparent;
    border: 0;
    font-size: 11px;
    line-height: 16px;
    padding: 0 5px;
    margin: 0;
    border-radius: 0;
    box-shadow: 0 0 0;
    vertical-align: top;
    /* min-width: 50px; */
}

.tool_container .panes .pane .pane_actions .btn:hover {
    background-color: #bbb;
}

.tool_container .panes .pane .pane_actions .btn-group .btn:hover {
    background-color: transparent;
}

.tool_container .panes .pane .pane_actions .btn-group .btn.active {
    text-shadow: #ddd 0px 1px 0px; 
    color: #222;
    background: #bbb;
    background-image: linear-gradient(left, #777 0%, #bababa 2px, transparent 2px), linear-gradient(right, #777 0%, #bababa 2px, transparent 2px);
    background-image: -webkit-linear-gradient(left, #777 0%, #bababa 2px, transparent 2px), -webkit-linear-gradient(right, #777 0%, #bababa 2px, transparent 2px);
    background-image: -moz-linear-gradient(left, #777 0%, #bababa 2px, transparent 2px), -moz-linear-gradient(right, #777 0%, #bababa 2px, transparent 2px);
    background-image: -o-linear-gradient(left, #777 0%, #bababa 2px, transparent 2px), -o-linear-gradient(right, #777 0%, #bababa 2px, transparent 2px);
}

.tool_container .panes .pane .class_side .nav-pills {
    font-weight: bold;
    background: #ffd;
}

.key_helper {
    z-index: 20;
    position: fixed;
    bottom: 0px;
    background: #fff;
    background-image: linear-gradient(top, #fafafa, #f0f0f0 50%, #e1e1e1 51%);
    background-image: -moz-linear-gradient(top, #fafafa, #f0f0f0 50%, #e1e1e1 51%);
    background-image: -o-linear-gradient(top, #fafafa, #f0f0f0 50%, #e1e1e1 51%);
    background-image: -webkit-linear-gradient(top, #fafafa, #f0f0f0 50%, #e1e1e1 51%);
    width: 100%;
    border-top: 1px solid #aaa;
    font-size: 11px;
    height: 22px;
}

.key_helper .command {
    padding: 0 2px;
}

.key_helper .label {
    padding: 1px 4px;
    font-family: Menlo, Monaco, "Lucida Console", Courier, monospace;
    background: transparent;
    color: #08C;
    text-shadow: none;
    border: 0 none;
}

.key_helper .action {
    padding: 0 5px;
    color: #666;
}

.key_helper .selected {
    background-image: linear-gradient(top, #ccc, #aaa);
    background-image: -moz-linear-gradient(top, #ccc, #aaa);
    background-image: -o-linear-gradient(top, #ccc, #aaa);
    background-image: -webkit-linear-gradient(top, #ccc, #aaa);
    height: 30px;
    padding: 0 8px;
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    border-right: 1px solid #aaa;
}

.key_helper .close {
    font-size: 14px;
    line-height: 26px;
    opacity: 0.6;
}

.key_helper .close:hover {
    opacity: 0.8;
}

.key_helper input {
    outline: none;
    font-size: 11px;
    padding: 2px 8px;
    background: #fff;
    border: 1px solid #a1a1a1;
    border-radius: 12px;
    box-shadow: inset 0 0px 2px 0px #aaa;
    margin: 2px 4px;
    line-height: 1em;
}

.key_helper .error .help-inline,
.key_helper .error input {
    color: #B91010;
    font-weight: bold;
}

.typeahead.dropdown-menu {
    position: fixed !important;
    top: auto !important;
    bottom: 30px !important;
}

#cog-helper {
    position: fixed;
    bottom: 2px;
    right: 2px;
    z-index: 1000;
    opacity: 0.6;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}

#cog-helper:hover {
    opacity: 1;
}

#helper {
    z-index: 300;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -220px;
    margin-top: -35px;
    width: 400px;
    text-align: center;
    color: #ddd;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 -1px 0 #111;
    padding: 20px;
    background: rgba(0,0,0, 0.6);
    border-radius: 40px;
}

#overlay {
    z-index: 2000;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.confirmation {
    z-index: 2001;
    background: rgba(243,243,243,0.9);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 5px, transparent 6px);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 5px, transparent 6px);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 5px, transparent 6px);
    background-image: linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 5px, transparent 6px);
    padding: 20px;
    width: 250px;
    position: fixed;
    top: -500px;
    left: 50%;
    margin-left: -135px;
    box-shadow: 0 0 6px #333;
    transition: top .5s;
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    -o-transition: top .5s;
}

.confirmation span {
    font-size: 13px;
    font-weight: bold;
}

.confirmation .buttons {
    text-align: right;
    margin-top: 20px;
}

.confirmation.active {
    top: 0;
}

.button {
    border-radius: 3px !important;
    background: #ccc;
    border: 1px solid #9B9B9B;
    height: 20px;
    border-radius: 5px;
    min-width: 68px;
    padding: 0 10px;
    text-align: center;
    margin: 0;
    margin-left: 10px;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,.09) 0%, rgba(0,0,0, 0.02) 50%, rgba(0,0,0,.04) 50.5%, rgba(0,0,0,.04) 100%) #fff;
    font: 13px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.button.default { 
    border-top: 1px solid #535273;
    border: 1px solid #4F4D67;
    border-bottom: 1px solid #4B4B58;    
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,.5) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255,255,255,.3) 50.5%, rgba(255,255,255,.45) 95%, rgba(255,255,255,.8) 100%) #b1bdd5;
    background: -moz-linear-gradient(bottom, rgba(255,255,255,.5) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255,255,255,.3) 50.5%, rgba(255,255,255,.45) 95%, rgba(255,255,255,.8) 100%) #b1bdd5;
    -moz-box-shadow: 0 0 3px rgba(69, 113, 184, 0.8);
    -webkit-box-shadow: 0 0 5px rgba(69, 113, 184, 0.44);
    box-shadow: 0 0 5px rgba(69, 113, 184, 0.44);
}


.button:hover {
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.6);
}

.button:active {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.5);
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}

.button:focus {
    outline: 0;
}
