body.jtalkBody {
    margin-bottom: 350px;
}

#jtalkTabs {
    position: fixed;
    font-family: helvetica,arial,sans;
    font-size: 12px;
    line-height: 1;
    z-index: 1001;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 0 3px 0;
    height: 20px;
    background: transparent;
}
#jtalkTabs li {
    list-style-type: none;
    display: inline;
    background: #c8c8c8;
    font-weight: bold;
    color: #414141;
    padding: 4px;
    border: 1px solid #acacac;
    cursor: pointer;
    line-height: 14px;
    margin: 0;
}

#jtalkTabs li.selected {
    background: #dbdbdb;
    border-top: 0 none;
    padding: 5px 4px;
    color: #222;
}

#jtalkTabs li span.close {
    margin-left: 10px;
}

#jtalkTabs li.closeAll {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ef3b3b;
    color: #e3e3e3;
    font-weight: bold;
    border: 1px solid #ac1616;
    margin: 4px;
    padding: 2px 6px;
    font-size: 10px;
}

#jtalkTabs li.closeAll:hover {		
    background: #e72a2a;
}

#jtalk {
       position: fixed;
       bottom: 27px;
       left: 0;
       right: 0;
       height: 330px;
       z-index: 1000;
}

#jtalk .ui-resizable-handle {
    background-color: #a8a8a8;
    top: 0;
    cursor: row-resize;
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
    width: auto !important;
}

.jtalkTool {
    width: 98%;
    background: #dbdbdb;
    border-style: solid;
    border-width: 1px;
    border-color: #a8a8a8;
    color: @dark;
    font-family: Arial, Helvetica, sans;
    font-size: 12px;
    line-height: 1.5em;
    padding: 15px 1%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 4px;
    z-index: 1000;
}

.jtalkTool .jt_box {
    width: 98%;
    margin: 0;
    position: absolute;
    top: 15px;
    bottom: 45px;
}

.jtalkTool .jt_buttons {
    position: absolute;
    width: 98%;
    bottom: 15px;    
}

.jtalkTool .jt_buttons .right {
    float: right;
}

.jtalkTool .important {
    font-weight: bold;
}

.jtalkTool li {
    margin: 0;
    padding: 0;
}
    
.jtalkTool .jt_buttons button,
.jtalkTool .jt_buttons select {
    font-size: 12px;
}

.jtalkTool textarea,
.jtalkTool input {
    border: 1px solid;
    border-color: #a8a8a8;
    font-family: Arial, Helvetica, sans;
    line-height: 1.2em;
    font-size: 13px;
    position: relative;
    padding: 0;
}

.jtalkTool .jt_clear {	 
    clear: both;
}

.jtalkTool .jt_transcript,
.jtalkTool .jt_workspace {
    width: 100%;
    height: 100%;
}

.jtalkTool .jt_commit {
    position: absolute;
    top: 140px;
    left: 0;
    font-size: 12px;
}

.jtalkTool .jt_column {
    width: 24%;
    padding: 0;
    margin: 0;
    float: left;
    border: 1px solid;
    border-color: #a8a8a8;
    height: 130px;
    overflow-y: scroll;
    background: #fff;
    position: absolute;
    top: 0;
}

.jtalkTool .jt_column.value {
    left: 25.2%;
    width: 74.8%;
}

.jtalkTool .jt_column.browser {
    top: 30px;
}

.jtalkTool .jt_column.categories {
    left: 0%;
    height: 105px;
}

.jtalkTool .jt_column.classes {
    height: 105px;
    left: 25.2%
}

.jtalkTool .jt_column.classes ul {
    margin-left: 0;
}

.jtalkTool .jt_column.classes ul li {
    padding-left: 10px;
    margin-left: 0;
}

.jtalkTool .jt_column.protocols {
    left: 50.4%
}

.jtalkTool .jt_column.methods {
    left: 75.6%
}

.jtalkTool .jt_column li {
    list-style-type: none;
    padding-left: 5px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

.jtalkTool .jt_column li.selected {
	background: #e3e3e3;
	color: #222;
}

.jtalkTool .jt_column li:hover {
    background: #08c;
    color: white;
}

.jtalkTool .jt_tabs {
    top: 136px;
    position: absolute;
    left: 25.2%;
    padding: 0;
    margin: 0;
}

.jtalkTool .jt_tabs li {
    color: #666;
    font-weight: bold;
    cursor: pointer;
    list-style-type: none;
    float: left;
    padding: 2px 4px;
    margin-right: 2px;
    background: #ccc;
    border: 1px solid #a8a8a8;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 20px;
    line-height: 18px;
}

/* .jtalkTool .jt_tabs li:hover { */
/*     background: #08c; */
/*     color: white; */
/*     border-color: #08c; */
/* } */

.jtalkTool .jt_tabs li.selected,
.jtalkTool .jt_tabs li.selected:hover {
    background: white;
    border: 1px solid #b3b3b3;
    border-top: 1px solid white;
    color: #222;
}


.jtalkTool .jt_sourceCode {
    position: absolute;
    top: 175px;
    bottom: 0;
    left: 0;
    right: 0;
}

.jtalkTool .jt_sourceCode textarea.source {
    width: 100%;
    height: 100%;
}

/* Debugger */

.jtalkTool .jt_box .label {
	width: 98%;
	font-weight: bold;
	text-align: center;
	position: absolute;
	line-height: 1.2em;
	font-size: 16px;
	color: red;
}

.jtalkTool .jt_box .jt_column.debugger.contexts {
    width: 100%;
    top: 30px;
    
}

/***** IDE - ReferencesBrowser ******/

.jtalkTool .jt_box .implementors {
	width: 100%
}

.jtalkTool .jt_box .jt_column.implementors,
.jtalkTool .jt_box .jt_column.senders,
.jtalkTool .jt_box .jt_column.referenced_classes {
	top: 30px;
	height: 100%;
	bottom: 0px;
	width: 33%;
}

.jtalkTool .jt_box .jt_column.senders {
	left: 33.6%
}

.jtalkTool .jt_box .jt_column.referenced_classes {
        left: 67.3%
}

.jtalkTool .jt_box .jt_column.implementors .column_label, 
.jtalkTool .jt_box .jt_column.senders .column_label,
.jtalkTool .jt_box .jt_column.referenced_classes .column_label {
	background: #dbdbdb
}

.jtalkTool .jt_box .jt_column.implementors .column_label:hover,
.jtalkTool .jt_box .jt_column.senders .column_label:hover,
.jtalkTool .jt_box .jt_column.referenced_classes .column_label:hover {
	font-weight: bold;
	color: #000;
	cursor: default
}
