html,body {
	margin: 0;
	padding: 0;
	font: 14px "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #444;
}

/* Fonts */

h1, h2, h3 {
    font-family: 'Istok Web';
    font-weight: normal;
    color: #442905;
    line-height: 1.2;
}

h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 1px 1px #FFF;
}


.main {
    width: 900px;
    margin: 0;
    border: 0;
    text-align: center;
    margin: 0 auto;
}

.main img {
    margin: 30px 0;
}

a#back {
    color: #666;
    padding: 20px 0;
}

#tutorial {
    padding: 20px 40px;
    margin: 30px 0;
    text-align: left;
    border: 12px solid #aaa;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#tutorial .CodeMirror-scroll {
    overflow: auto;
    height: auto;
}

#footer .main {
    	border-top: 1px dashed #bbb;
	padding-top: 10px;
}

#footer p {
	text-align: center;
	line-height: 1em;
	color: #aaa;
}

#footer a {
	color: #3faae1;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}
