# Ignoring compiled files in examples etc
server/FileServer*.js

# Ignoring Mac Finder files
.DS_Store

# Ignoring compiled files in st
st/*.js

# Ignoring run.js in test/
test/amber_test_runner.js
test/run.js

# In case amber is also saved in a local Subversion
.svn

# Ignoring local NPM modules
/node_modules/*
