# Ignoring Mac Finder files
.DS_Store

# Ignoring test runner
test_runner.js

# In case amber is also saved in a local Subversion
.svn

# Ignoring local NPM modules
node_modules/

# Ignoring local bower modules
bower_components/

# Exclude the externals and internals
/external/
/internal/

# Ignoring place dedicated to hand-cloned user modules
/my/

# Other generated or transient files
config.js
