language: node_js
node_js:
  - "0.8"
  - "0.10"
before_install:
  - npm -g install npm@1.x.x
install:
  - npm install -g grunt-cli mocha
  - npm install
  - cd external/amber-cli
  - npm install
  - cd ../..
script:
  - npm test
  - cd external/amber-cli
  - npm install -g amber-cli
  - AMBER_CLI=amber npm test
  - npm install -g amber-cli@bleedingedge
  - AMBER_CLI=amber npm test
  - cd ../..
