#twitterwall {
    background: #eee;
    border: 3px solid #ccc;
    padding: 20px;
    margin-bottom: 50px;
	width: 500px;
	height: 500px;
}
#user {
	width: 15%;
}
#message{
	font-family:'Verdana';
	font-size: 12px
}
#date{
	font-family:'Verdana';
	font-size: 10px
}