<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Nicolas Petton" />
    <link rel="stylesheet" type="text/css" href='css/style.css' />
    <link rel="stylesheet" type="text/css" href='css/syntax.css' />
    <script type='text/javascript' src='js/jquery-1.4.4.min.js'></script>
    <script type='text/javascript' src='js/jquery-ui-1.8.9.custom.min.js'></script>
    <script type='text/javascript' src='js/jquery.textarea.js'></script>
    <script type='text/javascript' src='js/boot.js'></script>
    <script type='text/javascript' src='js/Kernel.js'></script>
    <script type='text/javascript' src='js/JQuery.js'></script>
    <script type='text/javascript' src='js/Canvas.js'></script>
    <script type='text/javascript' src='js/Parser.js'></script>
    <script type='text/javascript' src='js/Compiler.js'></script>
    <script type='text/javascript' src='js/IDE.js'></script>
    <script type='text/javascript' src='js/init.js'></script>

    <link rel="stylesheet" type="text/css" href="css/jtalk.css"/>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2246313-6']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <script type="text/javascript">
      jQuery(window).scroll(function() {
      	if(jQuery(window).scrollTop() > 210) {
		jQuery('#menu')
      			.css('position', 'fixed')
			.css('top', '0px')
	} else {
      		jQuery('#menu')
			.css('position', 'absolute')
      			.css('top', '210px')
      	}
      });
    </script>

    <a href="http://github.com/NicolasPetton/jtalk"><img style="position: absolute; top: 0; lef
t: 0; border: 0;" src="https://assets.github.com/img/bec6c51521dcc8148146135149fe06a9cc737577?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_left_darkblue_121621.png&path=" alt="Fork me on GitHub"></a>

    <div id="wrapper">
      <div id="header">
	<div class="main">
	  <img alt="Jtalk, the Smalltalk for web developers" src="images/text_header.png"/>
	</div>
      </div>
      
      <div id="menu">
	<div class="main">
	  <ul>
	    <li><a href="index.html">Overview</a></li> · 
	    <li><a href="index.html#download">Download</a></li> · 
	    <li><a id="doc_link" href="documentation.html">Documentation</a></li> ·
	    <li><a target="_blank" href="https://github.com/NicolasPetton/jtalk">Source</a></li> 
	  </ul>
	</div>
      </div>

      <div id="content">
	<div class="main">
	  {{ content }}
	</div>
      </div>
    
    <div id="footer">
      <div class="main">
	<p>Copyright © 2011 <a href="http://www.nicolas-petton.fr">Nicolas Petton</a>. The content of this website in licensed under <a href="http://creativecommons.org/licenses/by-nc/3.0/">CC-BY-NC 3.0</a>.</p>
	<p>Jtalk is an opensource project sponsored by <a href="http://www.objectfusion.fr">objectfusion</a>.</p>
	<p>The design of this website was provided by <a href="mailto:neomie.thirion@gmail.com">Noémie Thirion</a>.</p>
      </div> 
    </div>
    
  </body>
</html>

